@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import '@economic/taco/taco.css';
@import 'tailwindcss/utilities';

html, body, #root {
    height: 100%;
    margin: 0;
}


@keyframes slide-in-right {
    from { transform: translateX(100%); }
    to { transform: translateX(0); }
}

.animate-slide-in {
    animation: slide-in-right 0.2s ease-out;
}
